@keyframes blur {
    from {filter: blur(10px) brightness(150%);}
    to {filter: blur(0px) brightness(100%);}
}
body {
    position: relative;
    animation-name: blur;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
div {
    background-color: white;
}
.josefin-sans {
    font-family: Josefin Sans;
}
.f700 {
    font-weight: 700;
}
.nav-link.active {
    color: white;
    background-color: #3071db;
    border-radius: 6px;
}
.nav-link {
    transition-duration: 0.1s;
}
.nav-link:hover:not(.active) {
    background-color: #a3c6ff;
    border-radius: 6px;
}
#story .sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
    padding-bottom: 10px
}
.sticky#navbar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 15px;
}
@keyframes annoying {
    0% {transform: rotate(3deg) scale(0.9)}
    25% {transform: rotate(-3deg)}
    50% {transform: rotate(3deg) scale(1.1)}
    75% {transform: rotate(-3deg)}
    100% {transform: rotate(3deg) scale(0.9)}
}
.annoying {
    font-family: Permanent Marker;
    display: inline-block;
    animation-name: annoying;
/*    animation-direction: alternate;*/
    animation-timing-function: linear;
    animation-duration: .15s;
    animation-iteration-count: infinite;
}
#navbar {
    overflow-y: auto;
    height: 84vh;
    -ms-overflow-style: none
}

#navbar::-webkit-scrollbar {
    width: 0px;
}
.whitebg {
    background-color: white;
}
.sub {
    transition-duration: 0.5s;
    background-position: top;
    cursor: default;
    background-repeat: no-repeat;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.sub:active {
    background-image:url(https://images-gmi-pmc.edge-generalmills.com/149d4d08-7628-4bb5-b892-af172df6b226.jpg);
    background-position: center;
    padding-bottom: 200px;
    background-size: cover;
}